/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} */

body{
    background-color: lightblue;
}

td{
    border: 2px solid #020101;
    text-align: left;
    padding: 8px;
}
#login_head{
    font-size: 500%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
.hidden{
    display: none;
}
.card-bg{
    background-color: rgb(158, 198, 211);
    height: 300px;
}
#strong{
    font-weight: bold;
}
#login-head{
    font: Verdana;
}
a{
    color: purple;
}
a:hover{
    color: hotpink;
}
#card_bg{
    opacity: .85;
}

