{% block head %}
<title>Login - Patient Monitoring</title>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" href= "{% static 'css/bootstrap.min.css'%}" type='text/css'/>
<link rel="stylesheet" href= "{% static 'css/bootstrap-grid.css'%}" type='text/css'/>
<link rel="stylesheet" href= "{% static 'css/test.css'%}" type='text/css'/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


<body>
    <h1 id="login_head" >Login</h1>
    <p style="margin: 50px"></p>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                    <div class="card card-bg">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-sm-1"></div>
                                <div class="col-sm-11">
                                    <p style="margin: 15px"></p>

                                    <form action="/auth/staff/" method="POST" enctype="multipart/form-data">
                                            <div id="manual-render">
                                                {% csrf_token %}
                                                    {% for field in staff_form %}

                                                    <div class="fieldWrapper form-group">
                                                        <div class="row" >
                                                            <div class="col-sm-4"  >
                                                                <h4>{{ field.label_tag }}</h4>
                                                            </div>
                                                            <div class="col-sm-8" >
                                                                    {{ field }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p style="padding: 10px";></p>
                                                {% endfor %}
                                            </div>
                                            <input type="submit"  class="btn btn-primary" value="Login as Staff">
                                    </form>
                                    <p style="margin: 5px"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div >
            <p style="margin: 50px"></p>


                <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" >
                    <div class="card card-bg">
                       <div class="row">
                            <div class="col-sm-1">
                                </div>
                            <div class="col-sm-11">
                                <p style="margin: 15px"></p>

                                    <form action="/auth/patient/" method="POST" enctype="multipart/form=data">
                                        {% csrf_token %}

                                        <div id="manual-render">
                                                {% for field in patient_form %}

                                                    <div class="fieldWrapper">
                                                        <div class="row" >
                                                            <div class="col-sm-4" >
                                                                <h4> {{ field.label_tag }}</h4>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                    {{ field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p style="padding: 10px";></p>
                                                {% endfor %}
                                            </div>
                                        <input type="submit" class="btn btn-primary" value="Login as Patient">
                                        <p style="margin: 5px"></p>
                                    </form>

                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
