{% extends "pm/base.html" %}

{% block s %}
<!--<div class="container" style="background-color: #9eaaa36e; ">-->
        <p style="margin: 40px"></p>
        {% for patient in patients %}
        {% csrf_token %}


        <div class="container">
            {# TODO: Create divs and display data neatly using table tag #}
            <table>
                    
                    <tr>
                      <td>Name:</td>
                      <td><a href="/patient/view/{{ patient.username }}/">
                        {{ patient.first_name }}
                        {{ patient.last_name }}
                    </a></td>
                      
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{{ patient.email }}</td>
                      
                    </tr>
                    <tr>
                      <td>Username:</td>
                      <td>{{ patient.username }}</td>
                      
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td>{{ patient.phone }}</td>
                     
                    </tr>
                    <tr>
                      <td>DOB</td>
                      <td>{{ patient.date_of_birth }}</td>
                     
                    </tr>
                    <tr>
                      <td>Gender</td>
                      <td>{{ patient.gender }}</td>
                      
                    </tr>
                    <tr>
                            <td>Blood Group</td>
                            <td>{{ patient.blood_group }}</td>
                            
                          </tr>
                  </table>
                </div>      
                
        <br>
        <br>

        {% endfor %}
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <a href="/patient/create/"><button class="btn btn-primary">Add new patient</button></a>
        </div>
        </div>
   <!-- </div> -->

{% endblock %}
