{% extends "pm/base.html" %}

{% block body %}

    <form action="/appointment/create/" method="POST" enctype="multipart/form=data">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        <br><br><br><br>

        <div id="manual-render">
            {% for field in form %}

                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                </div>

            {% endfor %}
        </div>

        <input type="submit" value="Create">
    </form>

{% endblock %}
