{% extends "pm/base.html" %}

{% block s %}

<div class="container" >
        <p style="padding:10px;" ></p>

        <div class="row" >
                <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">

                <div class="card" id="card_bg" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" >
                    <div class="row">

                            <form action="/appointment/create/" method="POST" enctype="multipart/form=data">

                                <div id="manual-render">
                                        <p style="padding: 10px";></p>
                                        {% csrf_token %}
                                    {% for field in form %}

                                        <div class="fieldWrapper {% if field.label == "Doctor" %}hidden{% endif %} ">
                                            <div class="row "  >
                                                <div class="col-sm-1" >
                                                    </div>
                                                <div class="col-sm-3" >

                                                        <h6>{{ field.label_tag }}</h6>
                                                </div>
                                                <div class="col-sm-8">

                                                        {{ field }}
                                                </div>
                                            </div>
                                            <p style="padding: 10px";></p>
                                        </div>



                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-sm-11">

                                    </div>
                                    <div class=col-sm-1>
                                        <input style="font-size:150%; background: rgb(56, 58, 167);" class="btn btn-primary" type="submit" value="Create">
                                    </div>
                                </div>
                            </form>

                </div>
            </div>
            </div>
    </div>
   </div>
</div>
{% endblock %}
