{% extends "pm/base.html" %}
{% block s %}
<p style="margin: 20px"></p> 

<div class="container" > 
        {% load staticfiles %}   
    <div class="row " >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-7">
                
            <div class="card" id="card_bg" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" >
                   
                <div class="row" >
                        <div class="col-sm-1">
                            </div>
                            
                        <div class="col-sm-11" > 
                        <form action="/patient/create/" method="POST" enctype="multipart/form=data">
                            <div id="manual-render">
                                    <p style="margin: 40px"></p>
                                    {% csrf_token %}
                                    {% for field in form %}
                                    
                                        <div class="fieldWrapper">
                                            <div class="row" >
                                                <div class="col-sm-4" >
                                                       <h6> {{ field.label_tag }}</h6>
                                                </div>
                                                <div class="col-sm-8">
                                                        {{ field }}
                                                </div>
                                            </div>
                                        </div>
                                        <p style="padding: 10px";></p>
                                    {% endfor %}
                                </div>
                             
                    <div class="row">
                            
                        <div class="col-sm-7">      
                            <input class="btn btn-primary" type="submit" value="Create">
                        </div>     
                        </div>
                        <p style="margin: 20px"></p>          
                        </form>
                    </div>    
            </div>
    </div>
</div>
    
</div>    
{% endblock %}