{% extends "pm/base.html" %}

{% block s %}
    


<div class="container">
        <p style="margin: 40px"></p>
        <div class="row">
                
                <div class="col-sm-7">
                    <div class="card">
                        <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3"><h6>Name:</h6> </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                        
                            {{ user.first_name }} {{ user.last_name }}
                        
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="row">
                   
                    <div class="col-sm-7">
                        <div class="card">
                            <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3"><h6>Username:</h6> </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6">
                            
                                {{ user.email }}
                            
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="row">
                        
                        <div class="col-sm-7">
                            <div class="card">
                                <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3"><h6>Phone:</h6> </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-6">
                                
                                    {{ user.phone }}
                                
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="row">
                           
                            <div class="col-sm-7">
                                <div class="card">
                                    <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3"><h6>DOB:</h6> </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-6">
                                    
                                        {{ user.date_of_birth }}
                                    
                                    </div>
                                    </div>
                                </div>
                                </div>
                        </div>  
                        <div class="row">
                               
                                <div class="col-sm-7">
                                    <div class="card">
                                        <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-3"><h6>Gender:</h6> </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-6">
                                        
                                            {{ user.gender }}
                                        
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </div> 
                            <div class="row">
                                   
                                    <div class="col-sm-7">
                                        <div class="card">
                                            <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-3"><h6>Blood Group:</h6> </div>
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-6">
                                            
                                                {{ user.blood_group }}
                                            
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>      
            
        <p style="margin: 40px"></p>
        <div class="row">
            <div class="col-sm-0"></div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="edit-btn">
                        <a href="/patient/edit/{{ user.username }}"><button class="btn btn-primary">Edit</button></a>
                    </div>
                </div>
                    <br>
                <div class="row">    
                    <div class="user-appointments" >
                        {% for appt in appointments  %}
                            <a href="/appointment/view/{{ appt.id }}">{{ appt }}</appt>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div id="new-appt">
                        <a href="/appointment/create/{{ user.username }}/"><button class="btn btn-primary">New Appointment</button></a>
                    </div>
                </div> 
        </div>    
    </div>       
{% endblock %}
