{% extends "pm/base_patient.html" %}

{% block s %}

<div class="container">
        <p style="margin: 40px"></p>
        <table class="table table-striped table-bordered table-hover">

                <tr>
                  <td>Name:</td>
                  <td id="strong">
                    {{ user.first_name }} {{ user.last_name }}
                </td>

                </tr>
                <tr>
                  <td>Email:</td>
                  <td id="strong">{{ user.email }}</td>

                </tr>
                <tr>
                  <td>Username:</td>
                  <td id="strong">{{ user.username }}</td>

                </tr>
                <tr>
                  <td>Phone:</td>
                  <td id="strong">{{ user.phone }}</td>

                </tr>
                <tr>
                  <td>DOB</td>
                  <td id="strong">{{ user.date_of_birth }}</td>

                </tr>
                <tr>
                  <td>Gender</td>
                  <td id="strong">{{ user.gender }}</td>

                </tr>
                <tr>
                        <td>Blood Group</td>
                        <td id="strong">{{ user.blood_group }}</td>
              </tr>
              </table>




        <p style="margin: 40px"></p>
        <div class="container">

                {% if logged_in_user.user_type == 2 %}
                <div class="row">
                    <div class="edit-btn">
                        <a href="/patient/edit/{{ user.username }}"><button class="btn btn-warning">Edit</button></a>
                    </div>
                </div>
                {% endif %}

                <br>

                <div class="row">

                    <div class="appt">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th> ID </th>
                                <th> Doctor </th>
                                <th> Date/time of Appointment </th>
                            </tr>
                            {% if appointments %}

                            {% for appt in appointments %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ appt.doctor }} </td>
                                <td> <a href="/appointment/view/{{ appt.id }}"> {{ appt.date_time }} </a> </td>
                            </tr>
                            {% endfor %}

                            {% else %}
                            <tr>
                                <td colspan=3>No appointments to show</td>
                            </tr>
                            {% endif %}

                        </table>
                    </div>

                </div>

                <p style="padding:5px;" ></p>

                {% if logged_in_user.user_type == 2 %}
                <div class="row">
                    <div id="new-appt">
                        <a href="/appointment/create/{{ user.username }}/"><button class="btn btn-primary">New Appointment</button>
                    </div>
                </div>
                {% endif %}

            </div>
{% endblock %}
