<div class="navbar navbar-full navbar-dark bg-primary">
        <div class="container">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#primaryNav001">☰</button><a class="navbar-brand" href="#">Responsive Navbar</a>
          <div class="collapse navbar-toggleable-xs" id="primaryNav001">
            <ul class="nav navbar-nav">
              <li class="nav-item"><a class="nav-link" href="#">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>